* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.teris {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 8px;
  height: 100vh;
  height: 100svh;
  user-select: none;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
.teris__container {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(20, auto);
  padding: 0.5vh;
  gap: 0.3vh;
  border-radius: 0.5vh;
  background-color: rgb(0, 0, 0);
}
.teris__container > div {
  --cell-size: min(4vh, 7vw);
  height: var(--cell-size);
  width: var(--cell-size);
  border-radius: 0.5vh;
  background-color: rgba(141, 141, 141, 0.616);
}
.teris__container > div.S {
  background-color: rgb(119, 247, 87);
}
.teris__container > div.Z {
  background-color: rgb(255, 119, 56);
}
.teris__container > div.T {
  background-color: rgb(255, 252, 97);
}
.teris__container > div.O {
  background-color: rgb(119, 255, 214);
}
.teris__container > div.I {
  background-color: rgb(40, 106, 248);
}
.teris__container > div.J {
  background-color: rgb(137, 74, 255);
}
.teris__container > div.L {
  background-color: rgb(255, 107, 193);
}
.teris__container > div.S,
.teris__container > div.Z,
.teris__container > div.T,
.teris__container > div.O,
.teris__container > div.I,
.teris__container > div.J,
.teris__container > div.L {
  box-shadow: inset 2px 4px 4px rgba(255, 255, 255, 0.479),
    inset -2px -4px 4px rgba(255, 255, 255, 0.432);
}
.score_lines {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}
.score,
.lines {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.new_game {
  font-size: 20px;
  font-weight: bold;
  background: transparent;
  padding: 10px;
  border-radius: 5px;
}
